project:
  type: website

website:
  description: "A blog built with Quarto"
  site-url: https://fatih-boyar.github.io/prob-lab 
  title: "Probability Lab"
  navbar:
    right:
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



